---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Cookies Policy - Oliver Martínez Haro">
  <div class="max-w-4xl mx-auto px-4 py-12">
    <h1 class="text-4xl font-bold uppercase tracking-tight mb-8">Cookies Policy</h1>
    
    <div class="prose prose-invert prose-lg max-w-none text-zinc-400">
      <p>A cookie is a file that is downloaded to your computer when accessing certain web pages. Cookies allow a web page, among other things, to store and retrieve information about the browsing habits of a user or their equipment and, depending on the information they contain and the way they use their equipment, they can be used to recognize the user.</p>

      <h2 class="text-zinc-200 mt-8 mb-4 text-xl font-bold">1. What types of cookies does this website use?</h2>
      <ul class="list-disc pl-6 space-y-2">
        <li><strong>Analysis cookies:</strong> These are those that, well treated by us or by third parties, allow us to quantify the number of users and thus perform the measurement and statistical analysis of the use made by users of the service offered. To do this, your browsing on our website is analyzed in order to improve the offer of products or services that we offer you.</li>
        <li><strong>Technical cookies:</strong> These are those that allow the user to navigate through the restricted area and use its different functions, such as, for example, carrying out the purchase process of an article.</li>
        <li><strong>Personalization cookies:</strong> These are those that allow the user to access the service with some predefined general characteristics based on a series of criteria in the user's terminal such as the language or the type of browser through which they connect to the service.</li>
      </ul>

      <h2 class="text-zinc-200 mt-8 mb-4 text-xl font-bold">2. Google Analytics</h2>
      <p>This website uses Google Analytics, a web analytics service provided by Google, Inc. with headquarters in the United States with headquarters at 1600 Amphitheatre Parkway, Mountain View, California 94043. For the provision of these services, Google uses cookies that collect information, including the user's IP address, which will be transmitted, processed and stored by Google in the terms set on the Google.com website. This includes the possible transmission of such information to third parties for reasons of legal requirement or when said third parties process the information on Google's behalf.</p>

      <h2 class="text-zinc-200 mt-8 mb-4 text-xl font-bold">3. Deactivation or elimination of cookies</h2>
      <p>You can allow, block or delete the cookies installed on your computer by configuring the browser options installed on your computer.</p>
      <ul class="list-disc pl-6 space-y-2">
        <li>For more information on the <strong>Chrome</strong> browser click <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank" rel="noopener noreferrer" class="text-white hover:underline">here</a>.</li>
        <li>For more information on the <strong>Firefox</strong> browser click <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank" rel="noopener noreferrer" class="text-white hover:underline">here</a>.</li>
        <li>For more information on the <strong>Safari</strong> browser click <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac" target="_blank" rel="noopener noreferrer" class="text-white hover:underline">here</a>.</li>
        <li>For more information on the <strong>Internet Explorer</strong> browser click <a href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank" rel="noopener noreferrer" class="text-white hover:underline">here</a>.</li>
      </ul>

      <h2 class="text-zinc-200 mt-8 mb-4 text-xl font-bold">4. Acceptance of the Cookies Policy</h2>
      <p>The User expressly accepts, by using this Site, the treatment of the information collected in the manner and with the purposes mentioned above. And also acknowledges knowing the possibility of rejecting the treatment of such data or information rejecting the use of Cookies by selecting the appropriate configuration for this purpose in your browser. While this option of blocking Cookies in your browser may not allow you to fully use all the functionalities of the Website.</p>
    </div>
  </div>
</Layout>